.about {
	padding: 48px 0 64px;
	@include mobile {
		padding: 48px 0;
	}
}

.about__buttons {
	gap: 16px;
}

.about__button.button {
	text-transform: none;
}

.about__body {
	padding-top: 48px;
	@include mobile {
		padding-top: 32px;
	}
}

.about__head {
	display: grid;
	grid-template-columns: minmax(400px, 707px) minmax(350px, 1fr);
	align-items: center;
	gap: 48px;
	@include mobile {
		grid-template-columns: 1fr;
		gap: 16px;
	}
}

.about__head-text {
	@include mobile {
		font-size: 14px;
	}
}

.about__head-pic {
	overflow: hidden;
	border-radius: 10px;
}

.about__head-pic img,
.about__head-pic picture {
	width: 100%;
}

.about__head,
.about__features-wrap,
.about__detail-text,
.about__video-wrap,
.about__compound {
	margin-bottom: 48px;
	@include mobile {
		margin-bottom: 32px;
	}
}

.about__features-title,
.about__compound-title {
	margin-bottom: 32px;
}

.about__features-wrap--last {
	padding-bottom: 48px;
	border-bottom: 1px solid var(--disabled);
	@include mobile {
		padding-bottom: 32px;
	}
}

.about__features {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 32px;
}

.about__feature-text {
	margin-top: 12px;
}

.about__video-wrap {
	min-height: 493px;
	max-height: 493px;
	@include mobile {
		min-height: 225px;
	}
}

.about__video-wrap iframe {
	width: 100%;
	height: 100%;
	min-height: 493px;
	@include mobile {
		min-height: 225px;
	}
}

.about__compound {
	padding-top: 48px;
	border-top: 1px solid var(--disabled);
	@include mobile {
		padding-top: 32px;
	}
}

.about__compound-item {
	padding: 16px 24px 32px;
	border: 1px solid #DDE5E3;
	box-shadow: var(--small-shadow);
	border-radius: 10px;
	height: 100%;
	@include mobile {
		padding: 16px;
	}
}

.about__compound-item-title {
	margin-bottom: 16px;
}

.about__compound-item-text {
	@include mobile {
		font-size: 14px;
	}
}

.about__slider-top {
	gap: 16px;
	@include mobile {
		flex-direction: column;
		align-items: flex-start;
	}
}

.about__excerpt {
	max-width: 582px;
	text-align: right;
	@include mobile {
		text-align: left;
		max-width: 100%;
	}
}

.about__slider-inner-wrap {
	margin-top: 32px;
}

.about__photo {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.about__photo picture img,
.about__photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	max-width: 400px;
	border-radius: 8px;
}

.about__description-wrap {
	padding: 32px;
	background-color: var(--focus-bg);
	border-radius: 10px;
}

.about__description-wrap,
.about__geography {
	margin-top: 48px;
}

.about__geography picture,
.about__geography img {
	width: 100%;
}

//.about__description {
//	height: 100%;
//	max-height: 224px;
//	overflow: hidden;
//	transition: max-height 5s ease-out;
//}

.about__description.is-open {
	max-height: 9999px;
}

.about__description-more.button {
	margin-top: 24px;
	text-transform: none;
	padding-left: 0;
	font-weight: normal;
	color: var(--primary);
	font-size: 24px;
	opacity: 1;
	@include mobile {
		font-size: 16px;
	}
}

.about__description-more.button.button--icon .button__arrow {
	stroke: var(--primary-font-color);
	opacity: 1;
}

/* Slide Item */
.about__splide-list {
	background-attachment: fixed;
	background: url("../img/other/about-newspaper.png") no-repeat center;
	background-size: cover;
	background-position-x: 100px;
}

.about__splide-list::before {
	content: url("../img/other/about-slider-decor-start.svg");
	max-height: 400px;
}

.about__splide-list::after {
	content: url("../img/other/about-slider-decor-end.svg");
	max-height: 400px;
}

.about__splide-slide.splide__slide {
	position: relative;
	background-color: rgba(0, 83, 57, 0.7);
	transition: 500ms;
}

.about__slide-item {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 50px 20px 50px 20px;
	perspective: 700px;
	width: 365px;
	max-width: 365px;
	transition: max-width var(--hover-time) linear, width var(--hover-time) linear;
	transition-delay: .3s;
}

.about__slide-item.is-open {
	max-width: 778px;
	width: 778px;
}

.about__slide-year {
	font-size: 64px;
	padding-left: 60px;
	position: absolute;
	line-height: 1;
	cursor: pointer;
}

.about__slide-year {
	transform: translateY(0);
	visibility: visible;
	transition: opacity .2s linear, visibility .2s linear, transform .2s linear;
}

.about__slide-year.is-hidden {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-50px);
}

.about__slide-year span {
	position: relative;
	z-index: 10;
}

.about__slide-year::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	width: 40px;
	clip-path: polygon(65% 0%, 100% 50%, 65% 100%, 0% 100%, 35% 50%, 0% 0%);
	background-color: var(--secondary);
}

.about__slide-year:after {
	content: '';
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 100%;
	background-color: var(--secondary);
	clip-path: polygon(0% 0%, 78% 0%, 85% 49%, 78% 100%, 0% 100%);
	opacity: 0;
	transition: width var(--hover-time) ease-out, opacity var(--hover-time) ease-out;
}

.about__slide-year:hover:after {
	width: 130%;
	opacity: 1;
}

.about__slide-year:hover .about__slide-text {
	transform: translateY(0%);
	opacity: 1;
}

.about__slide-text {
	position: absolute;
	max-width: 280px;
	width: 280px;
	opacity: 0;
	transform: translateY(100%);
	margin-top: 20px;
	transition: transform .1s ease-out, opacity .1s ease-out;
	user-select: none;
	pointer-events: none;
	left: 0;
}

.about__slide-window {
	position: absolute;
	opacity: 0;
	padding: 16px;
	background-color: #FFFFFF59;
	backdrop-filter: blur(10px);
	gap: 20px;
	border-radius: 8px;
	transition: transform .2s linear, opacity .2s linear;
	transition-delay: .5s;
	user-select: none;
	pointer-events: none;
}

.about__slide-window.can-animate {
	opacity: 0;
	transition: opacity .2s linear;
}

.about__slide-window.is-open {
	user-select: auto;
	pointer-events: auto;
	opacity: 1;
	transition-delay: .5s;
}

.about__slide-window-close {
	stroke: var(--primary-bg);
	position: absolute;
	right: 5px;
	top: 5px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.about__slide-window-inner-col {
	width: 50%;
	max-width: 288px;
	border-radius: 8px;
}

.about__slide-window-year {
	cursor: pointer;
	border-bottom: 1px solid var(--secondary);
}

.about__slide-window-excerpt,
.about__slide-window-pic {
	margin-top: 20px;
}

.about__slide-window-pic {
	overflow: hidden;
	border-radius: 10px;
}

/* Light Version */
.about__splide-list.splide__list::before {
	margin-right: 1px;
}
.about__splide-list.splide__list::after {
	margin-left: -1px;
}
.about__splide-slide.splide__slide {
	padding-left: 40px;
	margin-left: -1px;
	margin-right: 1px !important;
}
.about__slide-item.about__slide-item--light {
	background-color: var(--footer-bg);
	border-radius: 5px;
	//height: auto;
	margin-top: 50%;
	transform: translateY(-35%);
	max-width: 350px;
	align-items: center;
	//transition: all var(--hover-time);
	max-height: 150px;
}
.about__slide-year.about__slide-year--light {
	font-size: 36px;
	position: relative;
	padding-left: 35px;
}
.about__slide-year.about__slide-year--light::before {
	width: 24px;
}
.about__slide-year.about__slide-year--light::after {
	left: 10px;
}
.about__slide-year.about__slide-year--light:hover .about__slide-text {
	transform: translateY(100%);
	opacity: 0;
}
.about__slide-year.about__slide-year--light span {
	transition: color var(--hover-time) ease-out;
}
.about__slide-year.about__slide-year--light:hover span {
	color: var(--primary-bg);
}
.about__slide-window.about__slide-window--light {
	background-color: var(--footer-bg);
	max-height: 150px;
	height: 100%;
	width: 100%;
}
.about__slide-window-excerpt.about__slide-window-excerpt--light {
	margin-top: 10px;
}