.features {
  border-bottom: 15px solid var(--separator-bg);
}

.features__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.features__item {
  background-color: var(--secondary-bg);
}