//.header {
//	background-color: #c0e4f4;
//	padding: 50px 0;
//
//	&__row {
//		display: flex;
//		justify-content: space-between;
//		align-items: center;
//	}
//}
//
//.header__nav {
//	@include tablet {
//		display: none;
//	}
//}
.header {
	position: relative;
}

.header__outer {
	background-color: var(--primary-bg);
}

.header__top {
	gap: 60px;
	padding: 24px 0;
}

.header__logo {
	width: 100%;
	max-width: 260px;
}

.header__form-search {
	width: 100%;
	max-width: 750px;
}

.header__form-field {
	position: relative;
}

.header__form-input {
	padding: 10px 16px;
	background-color: var(--secondary-bg);
	font-family: var(--font-main);
	font-size: 16px;
	width: 100%;
	border-radius: 6px;
}

.header__form-input::placeholder {
	color: var(--secondary-font-color);
	filter: opacity(50%);
}

.header__form-btn {
	position: absolute;
	right: 16px;
	width: 24px;
	height: 25px;
	top: 50%;
	transform: translateY(-50%);
}

.header__form-svg-search {
	fill: var(--secondary-font-color);
	stroke: transparent;
	filter: opacity(50%);
}

.header__contacts {
	width: 100%;
	max-width: 160px;
	align-items: flex-end;
}

.header__bottom {
	padding: 7px 0;
	position: absolute;
	bottom: -49px;
	width: 100%;
	z-index: 10;
}

.header__menu.menu {
	color: var(--primary-bg);
}

.header__menu-list {
	justify-content: space-between;
}

.header.header--dark .header__bottom {
	background: linear-gradient(0deg, rgba(90, 95, 97, 0.64), rgba(90, 95, 97, 0.64)),
	linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	//background-color: #5A5F61A3;
	backdrop-filter: blur(6px)
}

