.industry-detail {
	padding: 48px 0 0;
	@include mobile {
		padding: 32px 0 0;
	}
}

.industry-detail__head {
	padding-bottom: 48px;
	border-bottom: 2px solid var(--disabled);
	@include mobile {
		padding-bottom: 32px;
	}
}

.industry-detail__pic {
	overflow: hidden;
	border-radius: 10px;
}

.industry-detail__pic picture img,
.industry-detail__pic img {
	width: 100%;
	max-height: 516px;
	object-fit: cover;
}

.industry-detail__block-title {
	margin-top: 48px;
	@include mobile {
		margin-top: 32px;
	}
}

/* Type blocks all */
.industry-detail__block-col {
	gap: 32px;
	grid-area: coltext;
	@include mobile {
		flex-direction: column;
		gap: 16px;
	}
}

.industry-detail__block + .industry-detail__block {
	margin-top: 48px;
	@include mobile {
		margin-top: 16px;
	}
}

.industry-detail__block-pic {
	overflow: hidden;
	border-radius: 10px;
	grid-area: img;
}

.industry-detail__block-pic:nth-child(2) {
	grid-area: img-2;
}

.industry-detail__block-pic picture,
.industry-detail__block-pic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.industry-detail__block-text {
	grid-area: text;
}

.industry-detail__block-accent {
	background-color: var(--secondary-bg);
	grid-area: accent;
	padding: 32px;
	border-radius: 10px;
	@include mobile {
		padding: 16px;
	}
}

/* Type block 1 */
.industry-detail__block--type-1 .industry-detail__block-grid {
	display: grid;
	grid-template-areas:
		"img"
		"coltext";
	gap: 16px;
	align-items: stretch;
}

/* Type block 2 */
.industry-detail__block--type-2 .industry-detail__block-grid,
.industry-detail__block--type-7 .industry-detail__block-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 48px 32px;
	align-items: stretch;
	@include mobile {
		grid-template-columns: 1fr;
		gap: 16px;
	}
}

.industry-detail__block--type-2 .industry-detail__block-pic,
.industry-detail__block--type-2 .industry-detail__block-text,
.industry-detail__block--type-7 .industry-detail__block-pic,
.industry-detail__block--type-7 .industry-detail__block-text {
	grid-area: unset;
}

/* Type block 3 */
.industry-detail__block--type-3 .industry-detail__block-grid {
	display: grid;
	grid-template-areas:
		"accent";
	gap: 24px 32px;
	align-items: stretch;
	@include mobile {
		gap: 16px;
	}
}

/* Type block 4 */
.industry-detail__block--type-4 .industry-detail__block-grid {
	display: grid;
	grid-template-areas:
		"img img img-2 img-2"
		"text text img-2 img-2";
	gap: 24px 32px;
	align-items: stretch;
	@include mobile {
		grid-template-areas:
			"text"
			"img"
			"img-2";
		gap: 16px;
	}
}

/* Type block 5 */
.industry-detail__block--type-5 .industry-detail__block-grid {
	display: grid;
	grid-template-areas:
		"img img img accent accent"
		"img img img img-2 img-2";
	gap: 24px 32px;
	align-items: stretch;
	@include mobile {
		grid-template-areas:
			"accent"
			"img"
			"img-2";
		gap: 16px;
	}
}

/* Type block 6 */
.industry-detail__block--type-6 .industry-detail__block-grid,
.industry-detail__block--type-9 .industry-detail__block-grid {
	display: grid;
	grid-template-areas:
		"text text text img img img-2 img-2";
	gap: 48px 32px;
	align-items: stretch;
	@include mobile {
		grid-template-areas:
			"text text"
			"img img-2";
		gap: 16px;
	}
	@include mobileXS {
		grid-template-areas:
			"text"
			"img"
			"img-2";
	}
}

/* Type block 7 */
.industry-detail__block--type-7 .industry-detail__block-pic {
	order: 1;
	@include mobile {
		order: unset;
	}
}

/* Type block 9 */
.industry-detail__block--type-9 .industry-detail__block-grid {
	grid-template-areas:
		"img img img-2 img-2 text text text";
	@include mobile {
		grid-template-areas:
			"text text"
			"img img-2";
		gap: 16px;
	}
	@include mobileXS {
		grid-template-areas:
			"text"
			"img"
			"img-2";
	}
}