.main-form {
  border-top: 1px solid #E0E0E0;
}

.main-form__column {
  display: grid;
  grid-template-columns: minmax(450px, 624px) minmax(400px, 1fr);
  gap: 109px;
}

.main-form__subtitle {
  margin-top: 16px;
}

.main-form__form {
  margin: 48px 0 0;
}

.main-form__wrapper-fields {
  gap: 15px;
  @include mobile {
    flex-direction: column;
  }
}

.main-form__text-area,
.main-form__actions {
  margin-top: 15px;
}

.main-form__actions {
  gap: 30px;
  @include mobile {
    flex-direction: column;
  }
}

.main-form__accept {
  margin: 0;
  @include mobile {
    order: 1;
  }
}

.main-form__form-button {
  max-width: 342px;
  width: 100%;
}

.main-form__pic {
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
}

.main-form__pic picture,
.main-form__pic picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}