.modal__body {
  padding: 48px 80px;
  background-color: var(--primary-bg);
  border-radius: 10px;
  max-width: 850px;
  width: 100%;
  @include mobile {
    padding: 48px 20px;
  }
}

.modal__title,
.modal__subtitle {
  @include mobile {
    text-align: left;
  }
}

.modal__subtitle {
  margin-top: 16px;
}

.modal__close {
  width: 24px;
  height: 24px;
  top: 32px;
  right: 32px;
  @include mobile {
    top: 14px;
    right: 14px;
  }
}

