.news {
  border-top: 15px solid var(--separator-bg);
  padding-bottom: 120px;
  @include tablet {
    background-color: var(--primary-bg);
    padding-bottom: 48px;
  }
}

.news__heading-wrap {
  margin-bottom: 48px;
  @include mobile {
    margin-bottom: 32px;
  }
}

.news__more-button {
  @include tablet {
    display: none;
  }
}

.news__post,
.news__item {
  background-color: var(--primary-bg);
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: border var(--hover-time) ease-out, box-shadow var(--hover-time) ease-out;
  @include tablet {
    box-shadow: var(--small-shadow);
    height: 100%;
  }
}

.news__post:hover,
.news__item:hover {
  border: 1px solid var(--primary-hover);
  box-shadow: none;
}

.news__post-link {
  display: grid;
  grid-template-columns: minmax(500px, 734px) minmax(450px, 536px);
  @include tablet {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-rows: 200px 1fr;
    height: 100%;
  }
}

.news__post-pic {
  overflow: hidden;
  @include tablet {
    max-height: 200px;
  }
}

.news__item-img,
.news__post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--hover-time) ease-out;
}

.news__post:hover .news__post-img {
  transform: scale(1.1);
}

.news__post-info {
  padding: 32px 48px;
  @include tablet {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
  }
}

.news__post-date {
  @include tablet {
    order: 1;
    //margin-top: 32px;
    opacity: .5;
  }
}

.news__post-title {
  margin-top: 93px;
  transition: color var(--hover-time) ease-out;
  @include tablet {
    margin-top: 0;
  }
}

.news__post-excerpt {
  margin-top: 32px;
  @include tablet {
    margin-top: 16px;
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.news__slider-nav-big.slider-nav .splide__arrow--prev {
  left: -40px;
}

.news__slider-nav-big.slider-nav .splide__arrow--next {
  right: -40px;
}

.news__action-mobile {
  display: none;
  text-align: center;
  margin-top: 32px;
  @include tablet {
    display: block;
  }
}

.news__action-mobile .news__button {
  @include tablet {
    max-width: 332px;
    width: 100%;
  }
  @include mobileXS {
    width: 100%;
  }
}

.news__outer-wrap {
  margin-top: 22px;
  @include tablet {
    display: none;
  }
}

.news__item-link {
  display: flex;
  padding: 0 0 0 10px;
  justify-content: space-between;
}

.news__item-info {
  max-width: 208px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
  justify-content: space-between;
}

.news__post:hover .news__post-title,
.news__item:hover .news__item-title {
  color: var(--primary);
}

.news__splide-slide .splide__track--nav>.splide__list>.news__splide-slide {
  border: none;
}

.news__splide--big.splide .splide__slide {
  width: 100%;
  @include tablet {
    padding: 5px;
  }
}

.news__splide.js-news-mini-slider-init .news__splide-track.splide__track {
  padding-top: 10px;
  padding-bottom: 10px;
}

.news__splide .splide__track--nav>.splide__list>.news__splide-slide.is-active .news__item {
  border: 1px solid var(--primary);
}

.news__splide .splide__track--nav>.splide__list>.news__splide-slide.is-active,
.news__splide .splide__track--nav>.splide__list>.news__splide-slide {
  border: none;
}

.news__splide .splide__track--nav>.splide__list>.news__splide-slide .news__item {
  border: 1px solid transparent;
  box-shadow: var(--small-shadow);
}

.news__splide .splide__track--nav>.splide__list>.news__splide-slide:hover .news__item {
  border: 1px solid var(--primary);
}

.news__splide-slide.is-active .news__item-title {
  color: var(--primary);
  transition: color var(--hover-time) ease-out;
}

.news__splide-slide.is-active .news__item {
  border: 1px solid var(--primary-hover);
}

.news__item-date {
  margin-top: 16px;
  display: block;
}

.news__item-pic {
  overflow: hidden;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  min-width: 100px;
}

.news__navigation-slider-mini {
  position: relative;
  max-width: 1240px;
  margin-top: 38px;
}