.page-404 {
  position: relative;
}

.page-404__outer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 900px;
  @include mobile {
    grid-template-columns: 1fr;
    gap: 32px;
    height: auto;
  }
}

.page-404__pic {
  width: 100%;
  position: absolute;
  //margin-right: -400px;
  @include mobile {
    position: static;
    margin-right: 0;
  }
}

.page-404__info {
  position: relative;
  max-width: 606px;
  padding-bottom: 48px;
  align-self: flex-end;
  grid-area: 1/2;
  margin-bottom: 100px;
  @include mobile {
    padding-bottom: 0;
    align-self: center;
    margin-bottom: 0;
    grid-area: auto;
  }
}

.page-404__title,
.page-404__subtitle {
  display: block;
  text-align: center;
  @include mobile {
    text-align: left;
  }
}

.page-404__subtitle {
  margin-top: 24px;
  @include mobile {
    margin-top: 16px;
  }
}

.page-404__text-error {
  display: block;
  text-align: center;
  margin-top: 24px;
  @include mobile {
    margin-top: 16px;
  }
}

.page-404__actions {
  margin: 48px 0 24px;
  gap: 32px;
  @include mobile {
    flex-direction: column;
    gap: 16px;
  }
}

.page-404__button {
  width: 100%;
}