.page-head {
  padding-top: 80px;
  @include mobile {
    padding-top: 48px;
  }
}

.page-head__subtitle {
  margin-top: 48px;
  max-width: 960px;
  padding-bottom: 48px;
  @include mobile {
    margin-top: 16px;
    font-size: 16px;
    padding-bottom: 0;
  }
}