.popular {
  padding-bottom: 140px;
  @include tablet {
    //background-color: var(--secondary-bg);
    padding-bottom: 48px;
  }
}

.popular__splide-track.splide__track {
  padding: 10px 0 10px 0;
}

.popular__splide-list .splide__slide {
  width: 100%;
  padding: 5px;
  @include mobile {
    width: 100%;
    margin-left: 0;
  }
}

.popular__splide {
  margin-top: 10px;
}

.popular__item {
  background-color: var(--primary-bg);
  height: 100%;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--small-shadow);
  transition: border var(--hover-time) ease-out, box-shadow var(--hover-time) ease-out;
}

.popular__item:hover {
  border: 1px solid var(--primary);
}

.popular__item:hover > .popular__item-pic picture,
.popular__item:hover > .popular__item-pic img {
  transform: scale(1.1);
}

.popular__item-pic {
  padding: 0 30px;
  overflow: hidden;
  @include mobile {
    padding: 0 16px;
  }
}

.popular__item > .popular__item-pic picture,
.popular__item > .popular__item-pic img {
  transition: transform var(--hover-time) ease-out;
  margin: 0 auto;
  min-height: 390px;
  max-height: 390px;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
  @include mobile {
    min-height: 363px;
    max-height: 363px;
  }
}

.popular__item-info {
  padding: 0 24px 16px;
  @include mobile {
    padding: 0 16px 16px;
  }
}

.popular__item-name {
  transition: color var(--hover-time) ease-out;
}

.popular__item-name,
.popular__item-description {
  margin-top: 16px;
}

.popular__item:hover .popular__item-name {
  color: var(--primary);
}

.popular__navigation-slider {
  position: absolute;
  max-width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  @include tablet {
    position: static;
    transform: none;
  }
}