.similar {
	padding-bottom: 140px;
	@include tablet {
		background-color: var(--secondary-bg);
		padding-bottom: 48px;
	}
}

.similar__splide-slide.splide__slide {
	padding: 6px;
}

.similar__item {
	height: 100%;
	padding: 16px;
	border-radius: 10px;
	border: 1px solid transparent;
	background-color: var(--primary-bg);
	box-shadow: var(--small-shadow);
	transition: border var(--hover-time) ease-out;
}

.similar__item:hover {
	border: 1px solid var(--primary);
}

.similar__item-pic {
	min-height: 264px;
	max-height: 264px;
	overflow: hidden;
	border-radius: 10px;
}

.similar__item-pic picture img,
.similar__item-pic img {
	min-height: 264px;
	max-height: 264px;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.similar__item-name {
	color: #5A5F6180;
}

.similar__item-excerpt {
	margin-top: 8px;
}

.similar__item-pic,
.similar__item-title {
	display: block;
}

.similar__item-name,
.similar__item-title,
.similar__item-works {
	margin-top: 24px;
}

.similar__item-works {
	gap: 16px;
	flex-wrap: wrap;
}

.similar__item-works picture,
.similar__item-works img {
	display: block;
	width: 32px;
	height: 32px;
}

.similar__item-work svg {
	width: 32px;
	height: 32px;
}

.similar__item-work svg path {
	fill: #81AA9D !important;
}

.similar__navigation-slider {
	position: absolute;
	max-width: 1280px;
	left: 50%;
	transform: translateX(-50%);
	@include mobile {
		position: static;
		transform: none;
	}
}