.technology {
  padding-bottom: 180px;
  @include tablet {
    background-color: var(--primary-bg);
    padding-bottom: 48px;
  }
}

.technology__heading-wrap {
  margin-bottom: 48px;
  @include mobile {
    margin-bottom: 32px;
  }
}

.technology__more-button {
  @include tablet {
    display: none;
  }
}

.technology__splide {
  margin-top: 48px;
}

.technology__splide-slide {
  @include tablet {
    width: 100%;
  }
}

.technology__item {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 461px;
  border-radius: 10px;
  max-width: 296px;
  width: 296px;
  @include tablet {
    width: 100%;
    max-width: 100%;
    min-height: 530px;
  }
}

.technology__item::before,
.technology__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  user-select: none;
  pointer-events: none;
  transition: opacity var(--hover-time) ease-out;
}

.technology__item::before {
  background: #005339B2;
}

.technology__item::after {
  background: linear-gradient(139.99deg, #00422E -1.8%, rgba(0, 66, 46, 0) 71.04%);
  opacity: 0;
}

.technology__item:hover::before {
  opacity: 0;
}

.technology__item:hover::after {
  opacity: 1;
}

.technology__item > picture,
.technology__item > picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.technology__item-info {
  padding: 24px 32px;
  position: relative;
  z-index: 10;
}

.technology__navigation-slider {
  position: absolute;
  max-width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  @include tablet {
    position: static;
    transform: none;
  }
}

.technology__action {
  display: none;
  @include tablet {
    display: block;
    margin-top: 32px;
    text-align: center;
  }
}

.technology__action .technology__button {
  @include tablet {
    max-width: 332px;
    width: 100%;
  }
  @include mobileXS {
    width: 100%;
  }
}