@mixin border-radius($radius) {
	border-radius: $radius;
}

#timeline {
	position: relative;
	display: table; //*For Firefox
	height: 100%;
	&:after {
		content: '';
		width: 2px;
		position: absolute;
		top: .5rem;
		bottom: 0;
		left: 130px;
		z-index: 1;
		background: var(--primary);
		@include mobileXS {
			left: 90px;
		}
	}
	section.year {
		position: relative;
		&:first-child section{
			margin-top: -1.3em;
			padding-bottom: 0px;
		}
		& > div {
			position: sticky;
			top: 5rem;
			color: var(--primary-font-color);
			margin: 0;
			font-size: responsive 24px 36px;
			font-range: 375px 1024px;
			font-weight: 500;
		}
		section {
			position: relative;
			padding-bottom: 1.25em;
			margin-bottom: 2.2em;
			div {
				list-style-type: none;
				margin: -1.35rem 0 1em;
				max-width: 100%;
				padding: 0 0 0 150px;
				@include mobileXS {
					padding: 0 0 0 95px;
					font-size: 16px;
				}
				&:last-child {
					margin: {
						bottom: 0;
					}
				}
				&:first-of-type:after {
					content: '';
					width: 16px;
					height: 16px;
					background: #C5C5C5;
					border: 2px solid #FFFFFF;
					@include border-radius(50%);
					position: absolute;
					left: 107px;
					top: 3px;
					z-index: 2;
					@include mobileXS {
						left: 67px;
					}
				}
			}
		}
	}
}