.up-to-top {
	position: fixed;
	left: 50px;
	bottom: 60px;
	cursor: pointer;
	gap: 16px;
	visibility: hidden;
	opacity: 0;
	@include mobile {
		display: none;
	}
}

.up-to-top.is-visible {
	visibility: visible;
	opacity: 1;
	transition: visibility var(--hover-time) ease-out, opacity var(--hover-time) ease-out;
}

.up-to-top.is-white .up-to-top__icon {
	--primary: #FFFFFF;
}

.up-to-top.is-white .up-to-top__name {
	--primary: #FFFFFF;
}

.up-to-top__icon {
	fill: var(--primary, #005339);
	transition: fill var(--hover-time) ease-out;
}

.up-to-top:hover .up-to-top__icon {
	fill: var(--primary-hover);
}

.up-to-top__name {
	@extend .text;
	@extend .text--normal;
	@extend .text--w-bold;
	@extend .text--uppercase;
	color: var(--primary);
	transition: color var(--hover-time) ease-out;
}

.up-to-top:hover .up-to-top__name {
	color: var(--primary-hover);
}