.wysiwyg {
  font-family: var(--font-main);
  color: var(--primary-font-color);
}

.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6 {
  font-family: var(--font-main);
  font-weight: bold;
  margin: 0 0 24px;
}

.wysiwyg h2 {
  @extend .title--large
}

.wysiwyg h3 {
  @extend .title--small
}

.wysiwyg h4 {
  font-size: 20px;
}

.wysiwyg h5 {
  @extend .text--normal
}

.wysiwyg ul,
.wysiwyg ol {
  padding-left: 30px;
  font-weight: 400;
  margin-left: 0;
  @extend .text--large;
  @include mobile {
    font-size: 14px;
  }
}

.wysiwyg ul li ~ li,
.wysiwyg ol li ~ li {
  margin-top: 20px;
}

.wysiwyg.wysiwyg--delivery ul li ~ li {
  margin-top: 6px;
}

.wysiwyg table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--disabled);
  border-collapse: collapse;
}

.wysiwyg table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid var(--disabled);
}

.wysiwyg table td {
  border: 1px solid var(--disabled);
  padding: 5px;
}

.wysiwyg ul li {
  list-style-type: disc;
}

.wysiwyg ul li > ul,
.wysiwyg ol li > ol {
  margin-top: 20px;
}

.wysiwyg p {
  margin: 24px 0;
  font-weight: 400;
  line-height: 32px;
  @extend .text--large;
  @include mobile {
    font-size: 14px;
    line-height: 16px;
  }
}

.wysiwyg.wysiwyg--delivery p:first-child {
  margin-top: 0;
}

.wysiwyg a {
  text-decoration: underline;
  color: var(--color-gray-600);
  transition: color ease .2s;
}

.wysiwyg a:hover {
  color: var(--primary);
}

/* About */
.wysiwyg.wysiwyg--about p {
  margin: 24px 0;
  font-weight: 400;
  line-height: 32px;
  @extend .text--large;
  @include mobile {
    font-size: 16px;
    line-height: 20px;
  }
}